<!--=======================================================================
                          Header Component
======================================================================= -->
<app-header [appTitle]="appTitle"></app-header>

<!--=======================================================================
                          Main Component
              @brief: Contains Hero Section and Search Results
======================================================================= -->
<app-main [appTitle]="appTitle"></app-main>

<!--=======================================================================
                          Footer Component
======================================================================= -->
<app-footer
  [appTitle]="appTitle"
  [currentYear]="currentYear"
  [developer]="developer"
></app-footer>
