<!--=======================================================================
                          Input Field
======================================================================= -->

<h3
  class="font-semibold text-3xl pt-10 lg:pt-20 md:pt-20 pl-0 lg:pl-8 md:pl-8 pr-0 mb-4"
>
  Let the search begin...
</h3>

<form class="flex pl-0 lg:pl-8 md:pl-8 items-center lg:space-x-2 pt-3">
  <input
    class="font-semibold border rounded-lg px-4 w-60 py-2 md:w-2/3 lg:w-1/2 focus:outline-none focus:border-gray-600"
    type="text"
    placeholder="Enter GitHub Username"
    name="username"
    [(ngModel)]="username"
  />
  <button
    class="border border-gray-600 mt-0 font-semibold px-4 py-2 ml-2 rounded-lg lg:ml-10 bg-white hover:bg-gradient-to-br from-slate-300 to-[#fefaf6]"
    type="button"
    (click)="emitSearchResult()"
  >
    Search
  </button>
</form>
