<div class="w-full flex flex-col">
  <div class="my-3 border-2 border-[#30363d] p-3">
    <ngx-skeleton-loader
      class="w-full"
      count="1"
      [animation]="getSkeletonAnimation()"
    >
    </ngx-skeleton-loader>
    <ngx-skeleton-loader
      class="w-full"
      count="1"
      [animation]="getSkeletonAnimation()"
    >
    </ngx-skeleton-loader>
    <ngx-skeleton-loader
      class="w-full"
      count="1"
      [animation]="getSkeletonAnimation()"
    >
    </ngx-skeleton-loader>
    <ngx-skeleton-loader
      class="w-full"
      count="1"
      [animation]="getSkeletonAnimation()"
    >
    </ngx-skeleton-loader>
  </div>
</div>
